{% extends "blog/base.html" %}
{% block title %}
    Логін
{% endblock title %}

{% block content %}
    <div class="container text-center sign-in">
        <form action="." class="form-sign-in login-form" method="post">
  <h1 class="h3 mb-3 font-weight-normal">Будь ласка авторизируйтесь</h1>
  <label for="inputLogin" >Логін</label>
            {{ form.username }}
  <label for="inputPassword" >Пароль</label>
            {{ form.password }}
            {% csrf_token %}
            <button class="btn btn-lg btn-primary mt-2" type="submit">
                Увійти
            </button>
        </form>
    </div>
{% endblock content %}